<div id="home">
    <div id="homepage_bot">
        <iframe id="botkit_client" src="/chat.html"></iframe>
    </div>

    <div id="welcome">
        <p><a href="/chat.html">Take me to full screen</a></p>
    </div>
</div>
<script src="/embed.js"></script>
<script>
  Botkit.boot({});
</script>
